<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Bar</title>
    <link rel="stylesheet" href="../static/styles/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined&display=swap">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> -->
</head>
<body>

    <div class="container mt-5">
        <h2>Search Bar</h2>
        <form action="/" method="GET" class="form-inline">
            <input type="text" name="query" class="search-bar mr-2" placeholder="Search..." required>
            <button type="submit" class="search-button">
                <span class="material-symbols-outlined">search</span>
            </button>
        </form>

        <div class="mt-3">

        </div>
        <div class="mt-5">
            <h3>Pandas Data</h3>
            <div class="table_component" role="region" tabindex="0">
                {{ table_html | safe }}
            </div>
        </div>
    </div>

</body>
</html>
