<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../static/styles/styles.css">
    <meta charset="utf-8">
    <title> DPI Document emailer </title>
</head>
<body>
<header>
    <br>
  <h2> BFI National Archive - DPI image sender</h2>
  <h3> Error: </h3>
</header>

{% with msgs = get_flashed_messages(with_categories=true) %}
  {% if msgs %}
     {% for cat,msg in msgs %}
       <div class="alert {{cat}}">{{msg}}</div>
     {% endfor %}
  {% endif %}
{% endwith %}
<br>
<img class=image src="{{ url_for('static', filename='styles/captain-holt-oh-no.gif')}}" alt="oh no man">
<br>
<br>
<input type="submit" value="Back" onClick="history.back();"/>
