<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='styles/form2.css') }}">
    </head>
    <body>
        <div class="header">
          <h1>BFI National Archive news preservation requests</h1>
          <p>Request move of specific TV news channel on given day into the Digital Preservation Infrastructure</p>
	</div>
	<div class="topnav">
	  <a href="{{ url_for('dpi_move_request') }}">Submit a request</a>
	  <a href="{{ url_for('dpi_move') }}">View requests</a>
          <a href="https://bficollectionssystems.atlassian.net/servicedesk/customer/portal/1/article/3528589314">Instructions</a>
          <a href="https://bficollectionssystems.atlassian.net/servicedesk/customer/portal/1/group/-1" class="split">Service Desk</a>
	</div>
	<br/>
        <div>Please use the buttons below to submit or view requests. You will receive an email when your preservation move completes</div>
	<br/>
	<button class="btn-nav" type="button" onclick="window.location.href='{{ url_for('dpi_move_request') }}';">Submit a news channel DPI request</button><br/>
        <button class="btn-nav" type="button" onclick="window.location.href='{{ url_for('dpi_move') }}';">View all download requests</button><br/>
    </body>
</html>
