<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='styles/form.css') }}">
    </head>
    <body>
        <div class="header">
          <h1>BFI National Archive file download and transcode</h1>
          <p>Request download and transcode of files from the Digital Preservation Infrastructure into a network storage path</P>
        </div>
        <div class="topnav">
          <a href="{{ url_for('dpi_download_request') }}">Submit a request</a>
          <a href="{{ url_for('dpi_download') }}">View requests</a>
          <a href="https://bficollectionssystems.atlassian.net/servicedesk/customer/portal/1/article/3399090177">Instruction</a>
          <a href="https://bficollectionssystems.atlassian.net/servicedesk/customer/portal/1/group/-1" class="split">Service Desk</a>
        </div>
        <form method="POST">
            <!-- <label id="label">Enter name (surname and initial):</label> -->
            <input type="text" name="name" placeholder="Enter name as surname and initial - eg smithj" required><br/>
            <!-- <label id="label">Enter email:</label> -->
            <input type="text" name="email" placeholder="Enter email address in full - only BFI emails are permitted - eg joe.smith@bfi.org.uk" required><br/>
            <!-- <label id="label" for="download_type">Download single file or bulk download using saved search number:</label> -->
            <select name="download_type" id="download_type">
                <option value="single">Download single file only</option>
                <option value="dpi_browser_collection">DPI Browser collection</option>
            </select><br/>
            <!-- <label id="label">File to download one item or saved search number to download in bulk (maximum 50 items):</label> -->
            <input type="text" name="fname" value={{ file }}><br/>
            <!-- <label id="label" for="download_path">Choose download path in DPI network:</label> -->
            <select name="download_path" id="download_path" required>
                <option value="" disabled selected>Select download path in DPI network</option>
                <option value="/mnt/grack_02/hold/">Grack H22 / Hold</option>
                <option value="/mnt/qnap_03/DPI_Downloads/">QNAP 03 / DPI_Downloads</option>
                <option value="/mnt/qnap_04/hold/">QNAP 04 / Hold</option>
                <option value="/mnt/qnap_05/Public/hold/">QNAP 05 / Hold</option>
                <option value="/mnt/qnap_05/curatorial/">QNAP 05 / Curatorial</option>
                <option value="/mnt/qnap_05/special_collections/">QNAP 05 / Special Collections</option>
                <option value="/mnt/qnap_06/DPI_Downloads/">QNAP 06 / DPI_Downloads</option>
                <option value="/mnt/qnap_07/DPI_Downloads/">QNAP 07 / DPI_Downloads</option>
                <option value="/mnt/qnap_10/hold/">QNAP 10 / Hold</option>
            </select><br/>
            <!-- <label id="label">Enter folder name for file download:</label> -->
            <input type="text" name="fpath" placeholder="Enter folder name for file download - only letters, numbers and _ are permitted - eg Jane_Download_1" required><br/>
            <!-- <label id="label" for="transcode">Choose video transcode option or leave if none required:</label> -->
            <!-- <label id="label" for="transcode">Choose video transcode option or leave if none required:</label> -->
            <select name="transcode" id="transcode">
                <option value={{ trans_option }}>Retrieved from DPI browser: {{ trans_option }}</option>
            </select><br/>
            <input type="submit" value="submit"/><br/>
        </form>
    </body>
</html>
