.table_component {
    overflow: auto;
    width: 100%;
}

.table_component table {
    border: 1px solid #d6d6dc;
    height: 100%;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 1px;
    text-align: left;
}

.table_component caption {
    caption-side: top;
    text-align: left;
}

.table_component th {
    border: 1px solid #d6d6dc;
    background-color: #5ea8d9;
    color: #050505;
    padding: 5px;
}

.table_component td {
    border: 1px solid #d6d6dc;
    background-color: #ffffff;
    color: #000000;
    padding: 5px;
    word-wrap: break-word;
    white-space: normal;
}
.search-bar {
    border-radius: 50px;
    padding-left: 20px;
    padding-right: 20px;
    height: 40px;
    width: 100%;
    max-width: 500px;
    margin-right: 10px;
}

.search-button {
    background-color: #007bff;
    color: white;
    border-radius: 50px;
    padding: 8px 20px;
    height: 40px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-button:hover {
    background-color: #0056b3;
}

.search-bar:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
